/*=============== COURSE ===============*/

.upcoming__courses {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upcoming__courses h2 {
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.course {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex-shrink: 0;
    background-color: #192b3c;
    position: static;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.151);
    min-height: 200px;
    animation: fadeIn 2s ease-in-out, slideIn 1s ease-in-out;
    transition: .5s ease;
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.course li {
    list-style: none;
}

.course li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.course h3 {
    color: rgb(0, 255, 255);
    opacity: 100%;
    font-size: 1.5rem;
}

.course p {
    line-height: 30px;
    color: #ffffff;
}

.course li a:hover {
    color: rgb(0, 217, 255);
    text-decoration: none;
}

.course:hover {
    transform: scale(1.0129);
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
}

#head h2 {
    font-size: 30px;
}

.coursebar {
    margin: 20px 85px;
    height: auto;
}

.coursetype {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    position: static;
    height: auto;
    column-gap: 4px;
    row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(45px, 1fr);
    grid-template-areas: ". .";
}

.coursetype-part {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    position: static;
    height: auto;
    column-gap: 4px;
    row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(45px, 1fr);
    grid-template-areas: ". .";
}

.coursetypes {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4px;
    flex-wrap: wrap;
    position: static;
    height: auto;
    column-gap: 4px;
    row-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-areas: ". .";
}


/*=============== BUTTON ===============*/

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s ease;
    width: 100%;
}

#buttons a {
    padding: 10px 40px;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 300;
    background: #2AAFC0;
    color: #ffffff;
    margin: 0;
    border: 1px solid #2AAFC0;
    transition: all .6s ease-in-out;
}

#buttons a:hover {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}


/*=============== BREAKPOINTS ===============*/

@media only screen and (max-width: 575px) {
    .coursetype,
    .coursetypes,
    .coursetype-part {
        grid-template-columns: 1fr;
        grid-template-areas: ".";
    }
    #head h2 {
        font-size: 30px;
    }
    #talk,
    #talks {
        padding: 10px 10px;
        margin: 50px 20px;
    }
}

@media only screen and (max-width: 801px) {
    .course {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        box-sizing: border-box;
        display: flex;
        width: auto;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 28px;
        padding-bottom: 28px;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        position: static;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.151);
        min-height: 200px;
        animation: fadeIn 2s ease-in-out, slideIn 1s ease-in-out;
        transition: .5s ease;
    }
    .coursebar {
        margin: 20px 20px;
    }
}


/*=============== ANIMATIONS ===============*/

@keyframes rippleAnim {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes countUp {
    from {
        content: "0";
    }
    to {
        content: "100";
    }
}

@keyframes backgroundFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
